/*----------------------------------------------------*/
/* Big tablet to 1200px (width smaller than 1140px row) */
@media only screen and (max-width: 1200px) {

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }
    .contact-form { width: 90%; }
}
/*----------------------------------------------------*/
/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

    body { font-size: 18px; }
    section { padding: 60px 0; }
    .logo-black {
        height: auto;
        width: 2em;
    }
    .long-copy {
        width: 80%;
    }
    .steps-box {margin-top: 10px; }
    .works-step {
        margin-bottom: 40px;
    }
    .works-step:last-of-type { margin-bottom: 60px; }
    .works-step div {
        height: 45px;
        width: 50px;
        text-align: center;
        padding: 5px;
        font-size: 110%;
        margin-right: 15px;
    }
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    .city-feature { font-size: 90%; }
    .plan-box {
        width: 100%;
        margin-right: 0%;
    }
    .plan-price { font-size: 250%; }
    .logo {
        margin-top: 40px;
        zoom: 70%;
    }
    .button-app img {
        width: auto;
        height: 48px;
        display: inline-block;
        float: right;
        margin-top: 20px;
    }
    .map-box {
        height: 625px;
    }
    #map {
        height: 625px;
    }
    .form-box {
        height: 625px;
    }
}
/*----------------------------------------------------*/
/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    body { font-size: 18px; }
    section { padding: 30px 0; }
    h1 { font-size: 180%; }
    h2 { font-size: 160%; }
    h3 { font-size: 140%; }
    p { font-size: 100%; }
    .row,
    .hero-text-box { padding: 0 4%; }
    .hero-text-box a {
        display: block;
        float: left;
        margin-bottom: 20px;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav { display: none; }
    .mobile-nav-icon { display: block; }
    .main-nav {
        float: left;
        margin-left: 25px;
        margin-top: 12px;
    }
    .nav-div-mobile ul {
        width: 70%;
    }
    .main-nav li {
        display: inline-block; }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 4px 0;
        font-size: 95%;
    }
    .logo {
        margin-top: 20px;
        width: 10%;
        height: auto;
    }
    .logo-black {
        height: auto;
        width: 5%;
    }
    .mobile-nav-icon i {
        font-size: 200%;
        color: #fff;
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding 10px 0; }
    .sticky .main-nav { margin-top: 10px; }
    .sticky .mobile-nav-icon { margin-top: 2.5px; }
    .sticky .mobile-nav-icon i {
        color: #555;
        font-size: 180%;
    }
    .section-features {
        margin: 0px 30px;
    }
    .long-intro-copy {
        font-size: 100%;
        width: 100%;
        text-align: center;
        margin: 0 0;
    }
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .box p {
        font-size: 100%;
        line-height: 145%;
    }
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
        .works-step {
        float: left;
    }
    .steps-box:first-child {
        text-align: center;
        padding-right: 0%;
    }
    .app-screen img {
        width: 20%;
    }
    .works-step div {
        height: 45px;
        width: 50px;
        text-align: center;
        padding: 5px;
        font-size: 110%;
        margin-right: 15px;
    }
    .meals-showcase li {
        display: block;
        float: left;
        width: 33.33%;
    }
    .meals-showcase li:last-child {
        display: none;
    }
    .button-app img {
        width: auto;
        height: 48px;
        display: inline-block;
        float: right;
        margin-top: 15px;
    }
    .box {
        text-align: left;
    }
    .locations {
        display: inline-block;
    }
    .locations img {
        width: 50%;
        height: auto;
        margin-bottom: 15px;
        float: left;
    }
    .locations-row-division {
        font-size: 120%;
        float: right;
    }
    .locations h3 {
        text-align: center;
        margin-bottom: 35px;
    }
    .locations-row-division td {
        float: left;
        margin: 0px 5px;
        font-size: 80%;
    }
    blockquote {
        font-size: 110%;
    }
    cite {
        font-size: 110%;
    }
    cite img {
        height: 70px;
    }
    .footer-nav {
        float: none;
        text-align: center;
    }
    .footer-social {
        float: none;
        text-align: center;
        margin-top: 30px;
    }
    footer p {
        margin-top: 0;
    }
    .map-box {
        position: relative;
        width: 100%;
        height: auto;
    }
    #map {
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 10;
    }
    .form-box {
        position: relative;
        height: auto;
        width: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        padding-top: 30px;
    }
    .no-show {
        display: none;
    }
}
/*----------------------------------------------------*/
/* Small phones: from 0 to 685px */
@media only screen and (max-width: 685px) {

    header {
        background-attachment: scroll;
    }
    .app-screen img {
        width: 20%;
    }
    .plan-flex {
        flex-direction: column;
    }
    .plan-flex-div {
        display: flex;
        justify-content: center;
    }
    .plan-box {
        width: 75%;
        margin-left: 0;
    }
    .plan-box-head-div {
        margin-left: 30%;
    }
}
/*----------------------------------------------------*/
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    h1 { font-size: 200%; }
    section { padding: 25px 0; }
    .logo-black {
        height: auto;
        width: 8%;
    }
    .mobile-nav-icon i {
        font-size: 200%;
        color: #fff;
    }
    .nav-div-mobile ul {
        width: auto;
    }
    .main-nav li { display: block; }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 4px 0;
        font-size: 95%;
    }
    .hero-text-box a {
        margin-bottom: 20px;
    }
    .meals-showcase li {
        display: block;
        float: left;
        width: 50%;
    }
    .meals-showcase li:last-child,
    .meals-showcase li:nth-child(3) {
        display: none;
    }
    .app-screen img {
        width: 25%;
    }
    .section-test {
        background-attachment: scroll;
        background-position: center;
    }
    .box {
        text-align: center;
    }
    .locations {
        display: block;
    }
    .locations img {
        width: 90%;
        height: auto;
        float: none;
    }
    .locations-row-division {
        margin-left: 4%;
        font-size: 120%;
        float: left;
    }
    .locations h3 {
        text-align: center;
        margin-bottom: 25px;
    }
    .locations-row-division td {
        font-size: 92%;
    }
    .plan-box-head-div {
        margin-left: 20%;
    }
    .plan-box {
        width: 80%;
    }
    .contact-form { width: 100%; }
}
/*----------------------------------------------------*/
/* Small phones: from 0 to 350px */
@media only screen and (max-width: 350px) {
    h1 {
        font-size: 170%;
    }
    .main-nav {
        margin-left: 0px;
    }
    .nav-div-mobile ul {
        width: 75%;
    }
    .main-nav li { display: inline-block; }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 3px 0;
        font-size: 50%;
    }
    .plan-box {
        width: 90%;
    }
    .plan-box {
        margin-left: 0%;
        margin-bottom: 10px;
    }
}
